<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>
  <p>Title
    <div class="boxes"><%= f.text_field :title %></div>
  </p>
  <p>Body
    <div class="boxes"><%= f.text_area :body %></div>
  </p>
  <div class="boxes">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<%= link_to"Show", book_path(@book) %>
|
<%= link_to"Back", books_path %>