<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<h4>Title:
<%= @book.title %>
</h4>
<h4>Body:
<%= @book.body %>
</h4>

<%= link_to "Edit", edit_book_path(@book) %>
|
<%= link_to "Back", books_path %>